/*
Responsiveness
*/
@media
only screen and (max-width: 1024px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    #filter_div{
        float: left;
        border-radius: 25px;
        border: 2px solid #8B4513;
        padding: 20px;
    }

    #items_div{
        float: left;
        border-radius: 25px;
        border: 2px solid #D2691E;
        padding: 20px;
    }

	/* Force table to not behave like a normal table */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers*/
	thead tr {
		display:none;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
        font-weight: bold;
        content: attr(data-label);
	}
}
