#filter_div{
    float: left;
    border-radius: 25px;
    border: 2px solid #8B4513;
    padding: 20px;
}

#items_div{
    overflow: auto;
    border-radius: 25px;
    border: 2px solid #D2691E;
    padding: 20px;
}

.photo{
    display:block;
    height:20%;
    width:40%;
}

.subdiv{
    padding-left: 20px;
}
