﻿@model ARQSI_Imobiliaria.Models.Anúncio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Anúncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.ID, "ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.LabelFor(model => model.tipoAnuncio.descricao, "Tipo de Anúncio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAnuncio.descricao)
        </dd>

        <dt>
            @Html.LabelFor(model => model.imovel.tipoDeImovel, "Tipo de Imóvel")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imovel.tipoDeImovel.designacao)
        </dd>

        <dt>
            @Html.LabelFor(model => model.preco, "Preço")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.LabelFor(model => model.imovel.area, "Área")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imovel.area)
        </dd>

        <h6>Localização</h6>

        <dt>
            @Html.LabelFor(model => model.imovel.localizacao.longitude, "Longitude")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imovel.localizacao.longitude)
        </dd>

        <dt>
            @Html.LabelFor(model => model.imovel.localizacao.latitude, "Latitude")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imovel.localizacao.latitude)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
