﻿@model ARQSI_Imobiliaria.Models.Anúncio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Anúncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.tipoAnuncio.descricao, "Tipo de Anúncio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAnuncio.descricao)
        </dd>

        <dt>
            @Html.LabelFor(model => model.imovel.tipoDeImovel, "Tipo de Imóvel")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imovel.tipoDeImovel.designacao)
        </dd>

        <dt>
            @Html.LabelFor(model => model.preco, "Preço")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.LabelFor(model => model.imovel.area, "Área")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imovel.area)
        </dd>

        <h6>Localização</h6>

        <dt>
            @Html.LabelFor(model => model.imovel.localizacao.longitude, "Longitude")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imovel.localizacao.longitude)
        </dd>

        <dt>
            @Html.LabelFor(model => model.imovel.localizacao.latitude, "Latitude")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imovel.localizacao.latitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
