﻿@model IEnumerable<ARQSI_Imobiliaria.Models.Anúncio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoAnuncio.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imovel.tipoDeImovel.designacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imovel.area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imovel.localizacao.longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imovel.localizacao.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.owner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoAnuncio.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imovel.tipoDeImovel.designacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imovel.area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imovel.localizacao.longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imovel.localizacao.latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.owner.UserName)
        </td>
        @using Microsoft.AspNet.Identity
        @if (User.Identity.GetUserId().Equals(item.ownerID))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>

        }
        
    </tr>
}

</table>
