<strong>Module:</strong>        Application &raquo;
<strong>Controller:</strong>    Login &raquo;
<strong>Action:</strong>    	index
 
 <?php
    $title = 'Login';
    $this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
 
<?php
    session_start();
    
    if (isset($_SESSION['username'])) {
        echo "Username logado: " . $_SESSION['username'];
    } else {
        $form->setAttribute('action', $this->url('login', array(
            'action' => 'index'
        )));
        $form->prepare();
        
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('username'));
        echo $this->formRow($form->get('password'));
        echo $this->formSubmit($form->get('submit'));
        echo $this->form()->closeTag();
    }

?>
 