<strong>Module:</strong>        Application &raquo;
<strong>Controller:</strong>	Anuncios &raquo;
<strong>Action:</strong>        index

<?php

 $title = 'Anuncios';
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>

<table class="table">
	<tr>
		<th><?php echo $this->escapeHtml("ID"); ?></th>
		<th><?php echo $this->escapeHtml("Descricao"); ?></th>
		<th><?php echo $this->escapeHtml("Designacao"); ?></th>
		<th><?php echo $this->escapeHtml("Preco"); ?></th>
		<th><?php echo $this->escapeHtml("Area"); ?></th>
		<th><?php echo $this->escapeHtml("Longitude"); ?></th>
		<th><?php echo $this->escapeHtml("Latitude"); ?></th>
		<th><?php echo $this->escapeHtml("Owner"); ?></th>
		<th></th>
	</tr>

	<?php foreach ($this->listaAnuncios as $anuncio) : ?>
	<tr>
		<td><?php echo $this->escapeHtml($anuncio->ID); ?> </td>
		<td><?php echo $this->escapeHtml($anuncio->tipoAnuncio->descricao); ?> </td>
		<td><?php echo $this->escapeHtml($anuncio->imovel->tipoDeImovel->designacao); ?> </td>
		<td><?php echo $this->escapeHtml($anuncio->preco); ?> </td>
		<td><?php echo $this->escapeHtml($anuncio->imovel->area); ?> </td>
		<td><?php echo $this->escapeHtml($anuncio->imovel->localizacao->longitude) ?> </td>
		<td><?php echo $this->escapeHtml($anuncio->imovel->localizacao->latitude) ?> </td>
		<td><?php echo $this->escapeHtml($anuncio->owner->UserName) ?> </td> 
		<?php if($_SESSION['username']==$anuncio->owner->UserName): ?>
		<td> 
			<a href="<?php echo $this->url('anuncios',
			    array('action'=>'read', 'id' => $anuncio->ID)); ?>"><?php echo $this->translate('Details')?></a>
			<a href="<?php echo $this->url('anuncios',
                array('action'=>'edit', 'id' => $anuncio->ID));?>"><?php echo $this->translate('Edit') ?></a>
         	<a href="<?php echo $this->url('anuncios',
                array('action'=>'delete', 'id' => $anuncio->ID));?>"><?php echo $this->translate('Delete') ?></a>
        </td>
		<?php endif; ?>
	</tr>
	<?php endforeach; ?>
</table>