<?php

 $title = 'Detalhes';
 $this->headTitle($title);
 ?>
 <h1> <?php echo $this->escapeHtml($title);?></h1>

 <div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label><?php echo $this->escapeHtml("Tipo de Anuncio"); ?></label>
        </dt>

        <dd>
            <?php echo $this->escapeHtml($this->anuncio->tipoAnuncio->descricao); ?>
        </dd>

        <dt>
             <label><?php echo $this->escapeHtml("Tipo de Imovel"); ?></label>
        </dt>

        <dd>
            <?php echo $this->anuncio->imovel->tipoDeImovel->designacao; ?>
        </dd>

        <dt>
             <label><?php echo $this->escapeHtml("Preco"); ?></label>
        </dt>

        <dd>
            <?php echo $this->anuncio->preco; ?>
        </dd>

        <dt>
            <label><?php echo $this->escapeHtml("Area"); ?></label>
        </dt>

        <dd>
            <?php echo $this->anuncio->imovel->area; ?>
        </dd>

        <dt>
            <label><?php echo $this->escapeHtml("Longitude"); ?></label>
        </dt>

        <dd>
            <?php echo $this->anuncio->imovel->localizacao->longitude; ?>
        </dd>

        <dt>
            <label><?php echo $this->escapeHtml("Latitude"); ?></label>
        </dt>

        <dd>
             <?php echo $this->anuncio->imovel->localizacao->latitude; ?>
        </dd>

    </dl>
</div>
<p>
    <a href="<?php echo $this->url('anuncios',
                array('action'=>'edit', 'id' => $this->anuncio->ID));?>"><?php echo $this->translate('Edit') ?></a> |
    <a href="<?php echo $this->url('anuncios',
                array('action'=>'delete', 'id' => $this->anuncio->ID));?>"><?php echo $this->translate('Delete') ?></a> |
    <a href="<?php echo $this->url('anuncios',
                array('action'=>'index'));?>"><?php echo $this->translate('Back to list') ?></a>
</p>