﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vitor Moreira - 1130564@isep.ipp.pt<br />
    Emanuel Marques - 1130553@isep.ipp.pt<br />
    João Neves - 1130536@isep.ipp.pt<br />
</address>