﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Imobiliária</h1>
</div>

@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated){ 
    @Styles.Render("~/Content/setup.css")
    @Styles.Render("~/Content/table.css")
    @Styles.Render("~/Content/responsive.css")
    @Scripts.Render("~/Scripts/globalVariables.js")
    @Scripts.Render("~/Scripts/connectionUtils.js")
    @Scripts.Render("~/Scripts/setup.js")
    @Scripts.Render("~/Scripts/facets.js")
    @Scripts.Render("~/Scripts/facetOptions.js")
    @Scripts.Render("~/Scripts/results.js")
    @Scripts.Render("~/Scripts/Utils.js")

    <div id="widget">
        <script>startWidget("widget");</script>
    </div>
}