﻿@model ARQSI_Imobiliaria.Models.Alerta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alerta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.tipoAnuncio.descricao, "Tipo de Anúncio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAnuncio.descricao)
        </dd>

        <dt>
            @Html.LabelFor(model => model.tipoImovel, "Tipo de Imóvel")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoImovel.designacao)
        </dd>

        <dt>
            @Html.LabelFor(model => model.areaMinima, "Área Mínima")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMinima)
        </dd>

        <dt>
            @Html.LabelFor(model => model.areaMaxima, "Área Máxima")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMaxima)
        </dd>

        <dt>
            @Html.LabelFor(model => model.precoMinimo, "Preço Mínimo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMinimo)
        </dd>

        <dt>
            @Html.LabelFor(model => model.precoMaximo, "Preço Máximo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMaximo)
        </dd>

        <dt>
            @Html.LabelFor(model => model.dataInicio, "Data de Início")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataInicio)
        </dd>

        <dt>
            @Html.LabelFor(model => model.dataFim, "Data de Fim")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataFim)
        </dd>

        <dt>
            @Html.LabelFor(model => model.descricao, "Descrição")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
