﻿@model IEnumerable<ARQSI_Imobiliaria.Models.Alerta>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoAnuncio.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoImovel.designacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.areaMinima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.areaMaxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precoMinimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precoMaximo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizacao.longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localizacao.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.owner)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoAnuncio.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoImovel.designacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.areaMinima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.areaMaxima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precoMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precoMaximo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizacao.longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizacao.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner.UserName)
            </td>
            @using Microsoft.AspNet.Identity
            @if (User.Identity.GetUserId().Equals(item.ownerID))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
        </tr>
    }
</table>
