﻿@model ClassLibrary.Model.Anúncio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Anúncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imovel.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imovel.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoAnuncio.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAnuncio.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
