﻿@model IEnumerable<ClassLibrary.Model.Anúncio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imovel.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.owner.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoAnuncio.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imovel.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.owner.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoAnuncio.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preco)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
