﻿@model ClassLibrary.Model.Alerta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alerta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.localizacao.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localizacao.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoAnuncio.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAnuncio.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoImovel.designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoImovel.designacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaMinima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMinima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaMaxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMaxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precoMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precoMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataFim)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
