﻿@model ClassLibrary.Model.Alerta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alerta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.localizacao.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localizacao.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoAnuncio.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAnuncio.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoImovel.designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoImovel.designacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaMinima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMinima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaMaxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaMaxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precoMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precoMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataFim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
