﻿@model ARQSI_Imobiliaria.Models.TipoDeImovel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TipoDeImovel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.designacao, "Designação")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designacao)
        </dd>

        <dt>
            @Html.LabelFor(model => model.subTipo.designacao, "Sub-Tipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subTipo.designacao)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
