﻿@model ARQSI_Imobiliaria.Models.TipoDeImovel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoDeImovel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.designacao, "Designação")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designacao)
        </dd>

        <dt>
            @Html.LabelFor(model => model.subTipo.designacao, "Sub-Tipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subTipo.designacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tipoImovelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
