﻿@model IEnumerable<ARQSI_Imobiliaria.Models.TipoDeImovel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.designacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subTipo.designacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.designacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subTipo.designacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tipoImovelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.tipoImovelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tipoImovelID })
        </td>
    </tr>
}

</table>
